<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>  
    <h2>Sample Login</h2>
    <br>
    <form action="" method="post" enctype="text/plain">
        <div class="login">
            <label for="email">Email: </label>
            <br>
            <input type="email" name="email" required>
        </div>
        <br><br>
        <div class="login">
            <label for="password">Password: </label>
            <br>
            <input type="password" name="password" required>
        </div>
        <br><br>
        <div class="login">
            <input type="submit" value="Sign In">
        </div>
    </form>
</body>
</html>